.masthead {
    position: relative;
    width: 100%;
    height: 100%;
}
header.hero {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url('bg.jpg');
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}
    header.hero .typist {
        font-size: 3em;
        position: absolute;
        display: block;
        width: 100%;
        top: 60%;
        color: #fff;
        text-shadow: 0 0 20px rgba(0,0,0,1);
    }

nav.main {
    position: absolute;
    float: left;
    width: 100%;
    height: 6em;
    top: 10em;
    margin-top: -3em; 
}
    nav.main .spacer {
        float: left;
        height: 100%;
        width: 30%;
        background-color: rgba(255,255,255,0.85);
    }
    nav.main .logo {
        position: absolute;
        cursor: pointer;
        left: 50%;
        top: 3em;
        width: 256px;
        height: 256px;
        margin-left: -128px;
        margin-top: -128px;
        border-radius: 50%;
        transition: all 0.33s ease-in-out;
    }
    nav.main .logo:hover {
        width: 270px;
        height: 270px;
        margin-left: -135px;
        margin-top: -135px;
        box-shadow: 0 0 25px rgba(0,0,0,0.50);
    }
    nav.main ul {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        height: 100%;
        list-style: none;
    }
        nav.main ul li {
            float: left;
            display: table;
            padding: 0 1em;
            width: 17.5%;
            height: 100%;
            text-align: center;
            color: #019875;
            background-color: rgba(255,255,255,0.85);
            transition: all 0.5s cubic-bezier(0,.62,.5,1);
        }
        nav.main ul li:hover {
            height: 120%;
            margin-top: -0.66em;
            background-color: rgba(255,255,255,0.95);
            box-shadow: 0 0 25px rgba(0,0,0,0.25);
        }
            nav.main ul li a {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                transition: all 0.20s ease-in-out;
                height: 100%;
                color: inherit;
                font-family: 'Open Sans';
                font-weight: 600;
                text-decoration: none; 
            }
                nav.main ul li a small {
                    position: absolute;
                    left: 0;
                    right: 0;
                    line-height: 1.4;
                    color: inherit;
                    font-size: 0.75em;
                    font-family: 'Open Sans';
                    font-style: italic;
                    font-weight: 300;
                }